*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.blusa{
  width: 65%;
}
.carrinho{
  width: 12%;
}
.galeria{  
  margin-top: 7%;
  display: flex;
  flex-direction: row;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;  
}

a:link {
  color:#0D090D;
  transition: all 0.3s ease;
  text-decoration: none;
}
a:visited{
  color:#A62D2D; 
}